/* Styles for devices with screen width between 400px and 900px */
@media screen and (min-width: 400px) and (max-width: 900px) {

    /* Landing Page */
    .name h2 {
        font-size: 60px;
        padding: 10px;

    }


    .home-img {
    left: 95px;
    top: 275px;
    width: 250px;
    }

    .head {
        height: 77vh;
    }

    /* Profile Section */
    .profile>img {
        width: 180px;
    }

    .profile>h2 {
        font-size: 35px;
    }

    figcaption {
        text-align: center;
        line-height: 1.4;
        font-size: 16px;
    }

    /* Skill Section */
    .skills>h2 {
        font-size: 35px;
    }

    .skill-section {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .skill-section img {
        margin-left: 80px;
    }
    .skill-section-text h3 {
        text-align: center;
    }
    .skill-section-text p {
        text-align: center;
        line-height: 1.4;
        font-size: 17px;
    }
/* Contact Section */
.contact-me{
    width:95%;
}
.contact-me>h1 {
    font-size: 35px;
}
.contact-me>p {
    margin: 17px;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
}
.btn {
    margin: auto;
}




}