/* IMport Font Family */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Sacramento&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.secondary-color{
    color: rgba(0, 157, 149);
}
.primary-color{
    color: #0000009c;
}
.head {
    background-color: #ECC9EE;
    height: 130vh;
}
/* Horizontal dots */
.dots{
    text-align: center;
    font-size: 45px;
    color: rgba(0, 157, 149);
}
/* Landing Page Heading */
.name {
    padding: 20px;
    text-align: center;
}

.name h2 {
    font-size: 90px;
    font-family: 'Sacramento', cursive;
}

.name>p {
    font-size: 20px;
    line-height: 2;
    font-family: sans-serif;
}

.site-img {
    position: relative;
}

/* Landing Page Style */
.home-img {
    position: absolute;
    left: 389px;
    top: 252px;
}

.profile>img {
    width: 235px;
    display: block;
    margin: 30px auto;
}

.profile {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.profile>h2 {
    text-align: center;
    line-height: 1.5;
    font-size: 37px;
    font-family: sans-serif;
}

figcaption{
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
}

/* Skill Section Style */
.skills>h2 {
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    margin: 20px 0;
}

.skill-section {
    width: 60%;
    display: flex;
    margin: 50px auto;
}

.skill-section img {
    width: 180px;
    height:180px;
    margin-top: 60px;

}

.skill-section-text {
    padding-left: 40px;
    margin-top: 20px;
}

.skill-section-text h3 {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;

}

.skill-section-text p {
    margin-top: 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 18px;
}

/* Contact Page Style */
.contact-me {
    width: 60%;
    display: block;
    margin: 50px auto;
}

.contact-me>h1 {
    font-size: 38px;
    text-align: center;
    margin: 30px;
    font-family: sans-serif;
}

.contact-me>h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}

.contact-me>p {
    margin: 20px;
    text-align: center;
    /* line-height: 1.4; */
    font-size: 18px;
}

.btn {
    background: rgb(0, 157, 148, 1);
    background-image: -webkit-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -moz-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -ms-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -o-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: linear-gradient(to bottom, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 3px 8px #666666;
    -moz-box-shadow: 0px 3px 8px #666666;
    box-shadow: 0px 3px 8px #666666;
    font-family: Arial;
    color: #1f1a1f;
    font-size: 18px;
    padding: 11px 27px 11px 29px;
    text-decoration: none;
    display: block;
    width: 181px;
    margin: 0 auto;
    transition: 0.5s;
}

.btn:hover {
    color: white;
    background: rgb(0, 157, 148, 1);
    background-image: -webkit-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -moz-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -ms-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -o-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: linear-gradient(to bottom, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    text-decoration: none;
}

.bottom-container {
    height: 60px;
    background-color: rgb(0, 157, 148, 1);
    text-align: center;
    padding-top: 20px;
}

.icon a {
    padding: 5px 13px;
    text-decoration: none;
    color: #1f1a1f;
font-size: 25px;
}
.icon a:hover{
    color: white;
}
.fa-brands:hover{
    color: white;
}