* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-color: #ECC9EE;
    height: 130vh;
}

.name {
    padding: 20px;
    text-align: center;
}

.name h2 {
    font-size: 90px;
    font-family: 'Amatic SC', 'cursive', 'arial';
    margin-top: 30px;

}

.name>p {
    color: rgb(0, 157, 148, 1);
    font-size: 20px;
    line-height: 2;
    font-family: sans-serif;
}

.site-img {
    position: relative;
}

.html {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -104px;
    left: 158px;
}
.react{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 250px;
    left: 158px;
}
.pen-tool{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 250px;
    right: 200px;
}
.css {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 70px;
    left: 82px;

}

.js {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 70px;
    right: 90px;

}

.figma {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -120px;
    right: 178px;

}

.home-img {
    position: absolute;
    left: 389px;
    top: 252px;

}

.profile>img {
    width: 235px;
    display: block;
    margin: 30px auto;
}

.profile {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.profile>h2 {
    text-align: center;
    line-height: 1.5;
    font-size: 37px;
    font-family: sans-serif;
}

.profile>p {
    text-align: center;
    line-height: 1.4;
    font-size: 16px;
    color: rgb(0, 157, 148, 1);
}

.skills>h2 {
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    margin: 20px 0;
}

.Front-end-design {
    width: 60%;
    display: flex;
    margin: 50px auto;
}

.Front-end-design>img {
    width: 160px;
    height:160px;
    margin-top: 40px;

}

.front-end-text {
    padding-left: 40px;
    margin-top: 20px;
}

.front-end-text>h3 {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;

}

.front-end-text>p {
    margin-top: 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 16px;
    color: rgb(0, 157, 148, 1);
}

.ux-ui_developer{
    width: 60%;
    display: flex;
    margin: 50px auto;
}

.ux-ui_developer>img {
    width: 160px;
    height:160px;
    margin-top: 40px;
}

.ux-ui_text {
    padding-right: 40px;
    margin-top: 20px;
}

.ux-ui_text>h3 {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;

}

.ux-ui_text>p {
    margin-top: 20px;
    text-align: left;
    line-height: 1.4;
    font-size: 16px;
    color: rgb(0, 157, 148, 1);
}

.contact-me {
    width: 60%;
    display: block;
    margin: 50px auto;
}

.contact-me>h2 {
    font-size: 38px;
    text-align: center;
    margin: 40px;
    font-family: sans-serif;
}

.contact-me>h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}

.contact-me>p {
    margin: 20px;
    text-align: center;
    /* line-height: 1.4; */
    font-size: 16px;
    color: rgb(0, 157, 148, 1);
}

.btn {
    background: rgb(0, 157, 148, 1);
    background-image: -webkit-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -moz-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -ms-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -o-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: linear-gradient(to bottom, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 3px 8px #666666;
    -moz-box-shadow: 0px 3px 8px #666666;
    box-shadow: 0px 3px 8px #666666;
    font-family: Arial;
    color: #1f1a1f;
    font-size: 18px;
    padding: 11px 27px 11px 29px;
    text-decoration: none;
    display: block;
    width: 181px;
    margin: 0 auto;
    transition: 0.5s;
}

.btn:hover {
    color: white;
    background: rgb(0, 157, 148, 1);
    background-image: -webkit-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -moz-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -ms-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: -o-linear-gradient(top, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    background-image: linear-gradient(to bottom, rgb(0, 157, 148, 1), rgb(0, 157, 148, 1));
    text-decoration: none;
}

.bottom-container {
    height: 60px;
    background-color: rgb(0, 157, 148, 1);
    text-align: center;
    padding-top: 20px;
}

.icon a {
    padding: 5px 13px;
    text-decoration: none;
    color: #1f1a1f;
font-size: 25px;
}
.icon a:hover{
    color: white;
}
.fa-brands:hover{
    color: white;
}